/* ************************************************************************* */
/* default fonts                                                             */
/* ************************************************************************* */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ************************************************************************* */
/* tags                                                                      */
/* ************************************************************************* */

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: palevioletred;
}

header {
    background-color: bisque;
}

html {
    background-color: dimgray;
}

section {
    background-color: wheat
}

/* ************************************************************************* */
/* classes                                                                   */
/* ************************************************************************* */

.copyright {
    color: darkgray;
    font-weight: 300;
    text-align: center;
    padding-top: 1rem;
}

.center {
    text-align: center;
}

.logo-div {
    background-color: lightsalmon;
    padding: 0;
}

.nav-item {
    list-style-type: none;
}

.row {
    margin: 0;
}

.social {
    text-align: center;
    margin-top: 0.8rem;
}

.social-icons li a i{
    background-color: darkgray;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0.01em 0;
    text-align: center;
    transition: all 0.35s ease-in-out;
    width: 2rem;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icons li a i:hover {
    background-color: white;
    color: darkgray;
}

.social-item span {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

/* ************************************************************************* */
/* ids                                                                       */
/* ************************************************************************* */

#nav {
    padding: 0;
    margin: 0;
}

#nav-item-1 {
    background-color: cyan;
    height: 2rem;
}

#nav-item-1 a {
    color: magenta;
}

#nav-item-2 {
    background-color: yellow;
    height: 2rem;
}

#nav-item-2 a {
    color: black;
}

#nav-item-3 {
    background-color: magenta;
    height: 2rem;
}

#nav-item-3 a {
    color: cyan;
}

#nav-item-4 {
    background-color: black;
    height: 2rem;
}

#nav-item-4 a {
    color: yellow;
}

/* ************************************************************************* */
/* @media queries */
/* ************************************************************************* */

/* This below media query applies styles for devices */
/* with a maximum width of 600px such as mobile phones */
@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/* This below media query applies styles for devices with a width */
/* between 601px and 768px such as tablets in portrait mode */
@media (max-width: 768px) {
    body {
        background-color: lightgreen;
    }
}
