/* ************************************************************************* */
/* default fonts                                                             */
/* ************************************************************************* */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ************************************************************************* */
/* classes                                                                   */
/* ************************************************************************* */
.about-btns {
    padding: 1.5rem;
    width: 50vh !important;
}

.btn-about {
    background-color: #C9D4EB;
    color:#647491;
    border-radius: 2rem;
    border-style: none;
    width: 20%;    
}

.btn-testimonials {
    background-color: #C9D4EB;
    color:#647491;
    border-radius: 2rem;
    border-style: none;
    width: 100%;    
}

.centre {
    text-align: center;
}

.col-25, 
.col-75,
.col-100,
input,
textarea {
    float: left;
    padding: 0;
    width: 100% !important;
}

.container {
    align-items: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.0);
    color: #ddb2b9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    min-height: auto;
    /* padding: 1rem; */
    position: relative;
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.content {
    align-items: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.0);
    color: #ddb2b9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: auto;
    width: 100%;
}

.copyright {
    color: #647491;
    display: none;
    font-weight: 300;
    padding-top: 1rem;
    text-align: center;
}

.fa-bars {
    color: #BA97A9;
}

.footer-header {
    color: #647491;
    padding: 1rem;
    text-align: center;
}

.form-col {
    margin: 1rem;
}

.legend-col {
    margin: 1rem;
}

.list-about {
    list-style: none;
    padding: 1.0rem;
}

.list-about li {
    padding: 0.75rem;
}

.navbar a {
    color: #BA97A9;
}

.navbar a:hover {
    color: #647491;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.0 !important;
}

.nav-item {
    list-style-type: none;
}

.nav-text {
    font-weight: 700;
}

.review-body {
    display: none;
}

.row {
    margin-right: 0 !important;
}

.social {
    text-align: center;
    margin-top: 0.8rem;
}

.social-icons li a i{
    background-color: #647491;
    border-radius: 50%;
    color: #DDB2B9;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0.01em 0;
    text-align: center;
    transition: all 0.35s ease-in-out;
    width: 2rem;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-icons li a i:hover {
    background-color: #C9D4EB;
    color: #929CB9;
}

.social-item span {
    display: block;
    width: 100%;
    font-size: 1rem;
}

.sr-only {
    position:inherit !important;
}

.sub-title {
    padding: 1rem;
}

.vertical-centre {
    margin: 0;
    /* position: absolute; */
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ************************************************************************* */
/* ids                                                                       */
/* ************************************************************************* */

#home-page-img {
    background-image: url("..\\media\\Gemini_Generated_Image_emk13demk13demk1.jpg");
    clip-path: circle(33%);
    height: auto;
    max-width: 100%;
    opacity: 0.2;
}

#nav {
    padding: 0;
    margin: 0;
}

/* ************************************************************************* */
/* tags                                                                      */
/* ************************************************************************* */

a {
    text-decoration: none !important;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

footer {
    background-color: #ddb2b9;
    bottom: 0;
    flex: none;
    max-height: 7.5rem;
}

header {
    background-color: #c9d4eb;
    flex: none;
}

html {
    background-color: #ffffff;
    height: 100%;
    width: 100%;

}

img {
    margin: 0;
    position: absolute;
    top: 25%;
}

p a {
    text-decoration: none;
    color: #C9D4EB;
}

p a:hover {
    text-decoration: none;
    color:#BA97A9
}

section {
    background-color: #647491;
    flex: 1 0 0;
    margin: 0;
    overflow-y: auto;
}

tr {
    border-width: 0.1px !important;
    border-color: #DDB2B9 !important;
    border-style: solid !important;
}

/* ************************************************************************* */
/* @media queries */
/* ************************************************************************* */
/* The below media query applies styles for devices */
/* with a maximum width of 600px such as mobile phones */
@media (max-width: 600px) {}

/* The below media query applies styles for devices with a width */
/* between 601px and 768px such as tablets in portrait mode */
@media (min-width: 601px) and (max-width: 768px) {
    /* .col-25 {
        width: 25% !important;
    }

    .col-75 {
        width: 75% !important;
    } */
   
    .copyright {
        display: block;
    }

    .form-col {
        margin: 0.5rem;
    }

    .legend-col {
        margin: 0.5rem;
    }
}

/* The below media query applies styles for devices with a width */
/* between 769px and 991px such as tablets in landscape mode */
@media (min-width: 769px) and (max-width: 991px) {
    /* .col-25 {
        width: 25% !important;
    }

    .col-75 {
        width: 75% !important;
    } */
    
    .copyright {
        display: block;
    }

    .form-col {
        margin: 0.5rem;
    }

    .legend-col {
        margin: 0.5rem;
    }
}

/* The below media query applies styles for devices with a width */
/* above 991px such as a laptop or desktop monitor */
@media (min-width: 992px) {
    /* .col-25 {
        width: 25% !important;
    }

    .col-75 {
        width: 75% !important;
    } */
    
    .copyright {
        display: block;
    }
    
    .form-col {
        margin: 0.5rem;
    }

    .legend-col {
        margin: 0.5rem;
    }

    #home-page-img {
        max-width: 70%;
    }

    img {
        left: 15%;
        top: 0;
    }
}

/* ************************************************************************* */
/* END */
/* ************************************************************************* */